<html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
</head>
<body>

<div class="container">
    <div th:insert="~{navbar.html}">
    </div>
</div>

<div class="container">
    <div layout:fragment="content">

    </div>
</div>

</body>
<div th:insert="~{footer.html}"></div>
</html>
