<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(21,9,66,0.83)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/profile'}" th:text="${CURRENT_USER.fullname}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/index'}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="JavaScript:void(0)" onclick="logout()">Logout</a>
                </li>
                <script type="text/javascript">
                    function logout(){
                        document.getElementById("logoutFormId").submit();
                    }
                </script>
                <form th:action="@{'/logout'}" method="post" id = "logoutFormId"></form>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/'}" th:text="#{navbar.home}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/about'}" th:text="#{navbar.about}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/registerpage'}" th:text="#{navbar.register}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/loginpage'}" th:text="#{navbar.login}"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text = "#{menu.lang}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{'?lng=ru'}">РУС</a></li>
                        <li><a class="dropdown-item" th:href="@{'?lng=en'}">ENG</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>